.layout {
  // 同时两个layout对不齐
  vertical-align: middle;

  &.flow {
    .item {
      display: inline-block;
      padding: 2px 5px;
    }
    @media (max-width: 576px) {
      .item {
        width: 100% !important;
      }
    }

    &.right {
      .item {
        float: right;
      }
    }
  }

// 有个高度100%需求，要是有多行，最后一行高度自适应
  &.grid {
    .row{
      &:last-child{

      }
    }
  }

  &.portal{

  }

  &.list {
    // 这里hidden不能去掉，解决套在scrollbar内宽度计算问题
    // Row gutter={16} 会导致宽度+8
    overflow: hidden;

    .group {
      .description {
        color: fade(#000,45%);
      }
    }

    .list {
      .ant-list-vertical {
        .ant-list-item-extra {
          .inputitem {
            &:not(.switch) {
              width: 150px;
            }
          }
        }

        .ant-list-item-meta {
          margin-bottom: 0;
        }

        .ant-list-item-meta-title {
          margin-bottom: 0;
        }
      }
    }
  }
}
