@import '~antd/es/style/themes/default.less';

.layout {
  // 同时两个layout对不齐
  vertical-align: middle;

  .item{
    padding: 2px 0;
  }

  .content{
    background: #fff;
  }

  &.flow {
    .item {
      display: inline-block;
      padding: 2px 5px;
    }
    @media (max-width: 576px) {
      .item {
        width: 100% !important;
      }
    }

    &.right {
      overflow: hidden;

      .item {
        float: right;
      }
    }
  }
  // 有个高度100%需求，要是有多行，最后一行高度自适应
  &.grid {
    .row {
      &:last-child {}
    }
  }

  &.portal {
    .menubar{
      line-height: 64px;
    }

    .content{
      padding: 20px;
    }
  }

  &.list {
    .ant-list-item {
      border: none;
      padding: 0;
    }

    .ant-list-vertical {
      .ant-list-item-extra {
        .inputitem {
          &:not(.switch) {
            width: 150px;
          }
        }
      }

      .ant-list-item-meta {
        margin-bottom: 0;
      }

      .ant-list-item-meta-title {
        margin-bottom: 0;
      }
    }
  }
}
