@page-padding: 24px;

.template {
  flex: 1;

  .ant-spin-spinning {
    width: 100%;
    text-align: center;
  }

  .alertbox {
    flex: 1;
  }
  @import 'style.dark.less';
  @import 'style.light.less';
}

.modal .template {
  .alertbox {
    margin: 0;
  }
}

.portal {
  .template {
    .alertbox {
      margin: @page-padding @page-padding 0;
    }
  }
}
