@import 'refer.less';

.inputitem {
  width: 100%;

  .text {
    width: 100%;
  }

  .input {
    width: 100%;
    box-shadow: none;

    &.ant-switch {
      width: auto !important;
    }
  }

  input,
  textarea {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: solid;

    &:focus {
      border-width: 2px;
      box-shadow: none;
    }
  }

  .notsupport {
    &::after {
      content: '--';
    }
  }

  &.daterange {
    .input {
      &:focus {
        > span {
          border-width: 2px;
          box-shadow: none;
        }
      }

      > span {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
        border-bottom-style: solid;

        input {
          border-top-style: none;
          border-right-style: none;
          border-left-style: none;
          border-bottom-style: none;

          &:focus {
            border-width: 0;
            box-shadow: none;
          }
        }
      }
    }
  }

  &.number {
    .input {
      border-top-style: none;
      border-right-style: none;
      border-left-style: none;
      border-bottom-style: solid;

      &.ant-input-number-focused {
        border-width: 2px;
      }
    }

    input {
      border-top-style: none;
      border-right-style: none;
      border-left-style: none;
      border-bottom-style: none;
    }
  }

  &.refer,
  &.select {
    .input {
      > span,
      > div {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
        border-bottom-style: solid;
        box-shadow: none;
      }

      &.ant-select-focused,
      &.ref-select-focused {
        > span,
        > div {
          border-width: 2px;
        }
      }

      input {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
        border-bottom-style: none;

        &:focus {
          border-width: 0;
        }
      }
    }
  }
}
