.inputitem {
  width: 100%;

  .text {
    width: 100%;
  }

  .input {
    width: 100% !important;
      border-top-style: none;
      border-right-style: none;
      border-left-style: none;
      border-bottom-style: solid;

    &.ant-switch {
      width: auto !important;
    }
  }

  .notsupport {
    &::after {
      content: '--';
    }
  }
}
