.inputitem {
  width: 100%;

  .text {
    width: 100%;
  }

  .input {
    width: 100% !important;

    &.ant-switch{
      width: auto !important;
    }
  }

  .notsupport {
    &::after {
      content: '--';
    }
  }
}
